$font: 'Roboto', sans-serif;
$silver-chalice: #A1A1A1;
$tundora: #474747;
//$key-lime-pipe: #B0BF1A;
$viking: #63C8D4;
$white: #FFFFFF;
$cornflower-blue: #517EF0;

html {
  height: 100%;
}

body {
  height: 100%;
}

.centered-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.top-nav {
  background-color: $white;
  border-top: 5px solid $cornflower-blue;
  box-shadow: 1px 1px 7px $tundora;
  display: block;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.company-logo {
  height: calc(77px/2);
  width: calc(606px/2);
}

.logout {
  font-size: 16px;;
}

.back-button-container {
  width: 900px;
}

.back-button {
  align-self: center;
  display: flex;
  font-size: 18px;
  margin-left: 0;
}

.back-button::before {
  content: url(images/back-arrow.png);
  margin-right: 15px;
}

.centered-content {
  align-items: center;
  display: flex;
  justify-content: center;
  /*min-height: 100%;*/
}

.body-top-margin {
  margin-top: 60px;
}

.page-content {
  box-shadow: 1px 1px 7px $tundora;
  display: flex;
  height: 400px;
  position: relative;
  width: 900px;
}

.page-content-book-list {
  display: flex;
  flex-direction: column;
}

.book-item {
  box-shadow: 1px 1px 7px $tundora;
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px 20px;
}

.badge {
  height: 110px;
  left: 200px;
  position: absolute;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari 3-8 */
  transform: rotate(15deg);
  width: 74px;
  z-index: 1;
}

.book-cover {
  margin: 20px 40px 20px 20px;
  max-width: 230px;
  width: 100%;
}

.book-cover-item {
  margin: 20px 20px 5px 20px;
  max-width: 150px;
  width: 100%;
}

.text-style {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $font;
  margin-right: 20px;
}

.text-style-book-item {
  display: flex;
  flex-direction: column;
  font-family: $font;
}

.title {
  border-bottom: 4px solid $viking;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 35px 10px;
  padding-bottom: 10px;;
}

.title-book-item {
  font-size: 17px;
  font-weight: bold;
  margin: 5px 0 5px 20px;
}

.title-span {
  color: $silver-chalice;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 25px 10px;
}

.subtitle-book-item {
  color: $silver-chalice;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0 10px 20px;
}

.subtitle-span {
  color: $silver-chalice;
  font-size: 18px;
}
